<div ng-class="{'1':'dark-main', '2':'blue-main', '3':'green-main'}[theme]">
	<div class="data-line">{{eventDate}}</div>
	<div class="lead-space"><p>{{eventTitle}}</p></div>
	<div class="menu-row">
		<span><div></div></span>
		<ul class="menu-list">
			<li><a href="#/" class="menu-activity"></a>活动介绍</li>
			<li><a href="#/" class="menu-event"></a>日程介绍</li>
			<li><a href="#/" class="menu-intro"></a>嘉宾介绍</li>
			<li><a href="#/" class="menu-download"></a>资料下载</li>
			<li><a href="#/" class="menu-contact"></a>联系我们</li>
			<li><a ng-href="#/{{hash}}" class="menu-shake"></a>摇一摇</li>
		</ul>
	</div>
	<div class="main-tips">
		<p>{{description}}</p>
	</div>
</div>