<div ng-class="{'1':'dark-main', '2':'blue-main', '3':'green-main'}[theme]">
	<div class="data-line">{{eventDate}}</div>
	<div class="lead-space"><p>{{eventTitle}}</p></div>
	<div class="menu-row">
		<span><div></div></span>
		<ul class="menu-list">
			<li><a href="#/" class="menu-activity"></a>活动介绍</li>
			<li><a href="#/" class="menu-event"></a>日程介绍</li>
			<li><a href="#/" class="menu-intro"></a>嘉宾介绍</li>
			<li><a href="#/" class="menu-download"></a>资料下载</li>
			<li><a href="#/" class="menu-contact"></a>联系我们</li>
			<li><a href="#/lucky" class="menu-shake"></a>摇一摇</li>
		</ul>
	</div>
	<div class="main-tips">
		<p>Tips：“手滑”退出系统....，请速速就近找到登陆二维码，轻松扫描即重返宣讲会。 欢迎参加{{currDate}} IBM校园宣讲会！童靴们，这里不仅有行业大佬的精彩演讲和独家分享，现场还有趣味游戏和重磅彩蛋等着你喔！</p>
		<p>到早啦？没关系，一起体验最酷炫的【增强现实】游戏吧！拿起你的手机，扫一扫身边的IBM海报，我们带你“无缝”穿梭虚拟与现实！参与就有奖品喔~有想法不吐不快？传说中的牛人大咖云集于此，你还等什么？在【评论】区给我们留言，问题被选中就有豪礼赠送喔~意犹未尽？还想跟IBMer零距离沟通？快来关注“IBM校园行”微信，进入“IBM蓝色导师”应用，这里有专属于你的职场导师！更大的惊喜现场揭晓~</p>
	</div>
</div>