<div ng-controller="errorMsg" class="errorBox" ng-show="showErrorMsg"><p class="errorMsg">{{errorMsg}}</p></div>
    <section class="loginPattern">
      <div class="container loginContainer" ng-controller="loginForm">
      <div class="row loginRow">
        <div class="col-md-8"></div>
        <div class="col-md-4 loginBox">
          <form class="form-signin">
            <h2 class="form-signin-heading text-center">用户登录</h2>
            <br/>
            <label for="inputEmail" class="sr-only">用户名</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="用户名" required autofocus ng-model="user.username">
            <br/>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" required ng-model="user.password">
            <br/>
            <button class="btn btn-lg btn-primary btn-block" ng-class="{true: 'disabled', false: ''}[isDisabled]" ng-click="submitForm()" type="submit">登陆</button>
          </form>
        </div>
      </div>
        
      

    </div>
        
    </section>

    
